.mainFrame {
    
    justify-content: center; /* Centraliza horizontalmente */
        /* Centraliza verticalmente */
    height: 100vh;
    width: 100%;           /* Faz com que a div ocupe toda a altura da tela */
}

.Calendario {
    width: 60%; /* Define uma largura para o calendário */
    padding-inline: 0; /* Remove padding lateral */
}