.mainFrame {
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
        /* Centraliza verticalmente */
    height: 100vh;
    width: 100%;   
            /* Faz com que a div ocupe toda a altura da tela */
}

.Calendario {
    display: flex;
    flex-direction: column;
    width: 60%; /* Define a largura do calendário */
    padding-inline: 0; /* Remove padding lateral */
}

.separador {
     /* Define espaço acima do elemento que precisa ser separado */
    margin-bottom: 7rem; /* Espaço abaixo, se necessário */
}
